<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QouToPO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QouToPOWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">QouToPO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <button class="nav-link dropdown-toggle" id="poDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                POs
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="poDropdown">
                                <li>
                                    <a asp-controller="Po" asp-action="Index" class="dropdown-item">Create PO</a>
                                </li>
                                <li>
                                    <a asp-controller="Po" asp-action="Index" class="dropdown-item">Create from Quotation file</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="nav-link dropdown-toggle" id="infoDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Entries
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="infoDropdown">
                                <li>
                                    <a asp-controller="Info" asp-action="Company" class="dropdown-item">Company</a>
                                </li>
                                <li>
                                    <a asp-controller="Info" asp-action="Supplier" class="dropdown-item">Supplier</a>
                                </li>
                                <li>
                                    <a asp-controller="Info" asp-action="DeliveryTerm" class="dropdown-item">Delivery Term</a>
                                </li>
                                <li>
                                    <a asp-controller="Info" asp-action="PaymentTerm" class="dropdown-item">Payment Term</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - QouToPO - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
