@model Payment_term

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Payment_term_ID" />
<div class="form-group mb-3">
    <label asp-for="Payment_term_name" class="control-label"></label>
    <input asp-for="Payment_term_name" class="form-control" />
    <span asp-validation-for="Payment_term_name" class="text-danger"></span>
</div>
<div class="form-group mb-3">
    <label asp-for="Payment_term_name_jpn" class="control-label"></label>
    <input asp-for="Payment_term_name_jpn" class="form-control" />
    <span asp-validation-for="Payment_term_name_jpn" class="text-danger"></span>
</div>
<div class="form-group mb-3">
    <label asp-for="Key_words" class="control-label"></label>
    <input asp-for="Key_words" class="form-control" />
    <span asp-validation-for="Key_words" class="text-danger"></span>
</div>