@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using QouToPOWebApp.ViewModel

@model PoViewModel

@{
    ViewData["Title"] = "Create PO";

    var paymentTerms = ViewBag.paymentTerms as List<Payment_term>;
}

<h1 class="mb-4">@ViewData["Title"]</h1>
<div class="container">
    <h4>Details</h4>
    <div class="row mb-3">
        <div class="col mb-2">
            <label class="form-label">Date</label>
            <input class="form-control" type="date" asp-for="Quotation_date" />
        </div>
        <div class="col mb-2">
            <label class="form-label">Quotation no.</label>
            <input class="form-control" type="text" asp-for="Quotation_number" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="row">
                <label class="form-label">Supplier</label>
                <div class="col col-md-6 mb-2">
                    <select class="form-select" asp-for="Supplier_ID" asp-items="ViewBag.supplierList">
                        <option selected disabled>Choose..</option>
                    </select>
                </div>
                <div class="col-auto">
                    <a href="#" class="btn btn-secondary" id="customSupplier">Custom</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <textarea type="text" class="form-control" id="supplierAddress" placeholder="Supplier address" readonly></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col mb-2">
            <label class="form-label">Payment term</label>
            <input class="form-control" type="text" list="paymentTermOptions" asp-for="Payment_term_ID"/>
            <datalist id="paymentTermOptions">
                @foreach (var paymentTerm in paymentTerms)
                {
                    <option value="@paymentTerm.Payment_term_ID">@paymentTerm.Payment_term_name</option>
                }
            </datalist>
        </div>
        <div class="col mb-2">
            <label class="form-label">Delivery term</label>
            <input class="form-control" type="text" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
                <label class="form-label" asp-for="Delivery_address_ID">Deliver Address</label><span class="text-danger" title="Required">*</span>
            <div class="row">
                <div class="col col-md-6 mb-2">
                        <select class="form-select" asp-for="Delivery_address_ID">
                        <option selected disabled>Choose..</option>
                            <option value="1">FFJ Zama</option>
                            <option value="2">FFJ Hachioji</option>
                            <option value="3">FFJ Hashimoto</option>
                            <option value="4">FFJ SIC</option>
                    </select>
                </div>
            </div>
                <span asp-validation-for="Delivery_address_ID" class="text-danger"></span>
        </div>
        <div class="col-12">
            <textarea type="text" class="form-control" id="deliveryAddress" placeholder="Delivery address" readonly></textarea>
        </div>
    </div>
    <br />
    <p class="mb-1">
        <span class="fs-3 fw-semibold">Items</span>&nbsp;
        <a class="mb-2 btn btn-light border" href="#" id="addItem">Add</a>&nbsp;
        <a class="mb-2 btn btn-light border disabled" href="#" id="editItem">Edit</a>&nbsp;
        <a class="mb-2 btn btn-light border disabled" href="#" id="removeItem">Remove</a>
    </p>
    <div class="row">
        <div class="col">
            <table class="table datatable">
                <thead>
                    <tr>
                        <th></th>
                        <th>No.</th>
                        <th>Item name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total price</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Supplier Modal -->
<div class="modal fade" id="supplierModal" tabindex="-1" aria-labelledby="supplierModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="supplierModalLabel">Custom supplier</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="supplierForm">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label class="form-label">Supplier name</label>
                            <input class="form-control" name="Company_name" />
                        </div>
                        <div class="col-12 mb-3">
                            <label class="form-label">Supplier address</label>
                            <textarea class="form-control" name="Company_address"></textarea>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label">Telephone</label>
                            <input class="form-control" name="Telephone" />
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label">Fax</label>
                            <input class="form-control" name="Fax" />
                        </div>
                        <div class="col-12 mb-3">
                            <label class="form-label">Person in-charge</label>
                            <input class="form-control" name="Contact_person" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="#" onclick="addCustomSupplier()">Save</a>
            </div>
        </div>
    </div>
</div>

<!-- Item Modal -->
<div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="itemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="itemModalLabel">Add item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mb-3">
                        <label class="form-label">Item name</label>
                        <input class="form-control" id="itemName" />
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label">Price</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="yenSign">¥</span>
                            <input class="form-control" id="price" aria-describedby="yenSign" />
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label">Quantity</label>
                        <input class="form-control" type="number" id="quantity" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="#" id="submitItem">Add</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="/js/createPo.js"></script>
}
