@{
    ViewData["Title"] = "Create from Quotation";
}

@using QouToPOWebApp.ViewModel

@model QuotationViewModel;

<h1 class="mb-4">@ViewData["Title"]</h1>

<div class="container">
    <form asp-action="Extract" method="post" id="quoForm">
        <div class="row g-3 mb-4">
            <div class="col-md">
                <label class="form-label">Upload a Quotation file</label>
                <input type="file" id="pdfFile" accept=".pdf" onchange="uploadPdf(this)" hidden>
                <input asp-for="Quotation.File_path" type="text" value="" hidden />
                <span asp-validation-for="Quotation.File_path" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="No file chosen" id="selectFileInput" readonly>
                    <a href="#" class="btn btn-light border" type="button" id="selectFileBtn">Choose File</a>
                </div>
            </div>
        </div>
        <div class="row g-5 mb-4">
            <div class="col-md-5 px-3">
                <h4>Preview</h4>
                <div class="row justify-content-center visually-hidden" id="preview">
                    <div class="col-12 bg-secondary-subtle p-0 rounded-2 d-flex justify-content-center">
                        <img id="pdfPreview" class="border" src="" filename="" alt="PDF Preview" style="max-width:340px;" />
                    </div>
                    <div class="mt-2 row p-0 justify-content-between" style="max-width:337px;">
                        <div class="col-auto">
                            <a class="btn btn-sm btn-outline-secondary disabled" id="prev" onclick="prevPage()">Previous</a>
                        </div>
                        <div class="col-auto">
                            Page <span id="currentPage">0</span> of <span id="totalPage">0</span>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-sm btn-outline-secondary disabled" id="next" onclick="nextPage()">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <h4>Extraction Settings</h4>
                <div class="row g-3 mb-4">
                    <div class="col-xl-8">
                        <div class="row g-3">
                            <div class="col-lg-6 col-xl-12">
                                <div class="row align-items-center">
                                    <label asp-for="Quotation.Pdf_type_ID" class="form-label col-xl-4">PDF type</label>
                                    <div class="col-xl-8">
                                        <select class="form-select col-xl-8" aria-label="PDF type" asp-for="Quotation.Pdf_type_ID" asp-items="ViewBag.pdfTypeList">
                                            <option selected disabled>Choose..</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="Quotation.Pdf_type_ID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-12">
                                <div class="row align-items-center">
                                    <label asp-for="ExtractionMode" class="form-label col-xl-4">Extraction mode</label>
                                    <div class="col-xl-8">
                                        <select class="form-select" asp-for="ExtractionMode">
                                            <option value="lattice">Lattice</option>
                                            <option value="stream">Stream</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 d-grid gap-3 ps-xl-4 py-xl-3">
                        <a class="btn btn-lg btn-info text-white align-content-center" onclick="submitForm()">Extract</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="/js/extractText.js"></script>
}
