@{
    ViewData["Title"] = "Create from Quotation";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<div class="container">
    <form asp-action="Extract" method="post" id="quoForm">
        <div class="row g-3 mb-2">
            <div class="col-md">
                <label class="form-label">Upload a Quotation file</label>
                <input type="file" id="pdfFile" accept=".pdf" onchange="uploadPdf(this)" hidden>
                <input name="filePath" id="filePath" type="text" value="" hidden />
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="No file chosen" id="selectFileInput" readonly>
                    <a href="#" class="btn btn-light border" type="button" id="selectFileBtn">Choose File</a>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <h4>Extraction Settings</h4>
            <div class="col-md-4 mb-2">
                <label for="pdfType" class="form-label col-xl-4">PDF type</label>
                <select class="form-select col-xl-8" aria-label="PDF type" name="pdfType" id="pdfType" asp-items="ViewBag.pdfTypeList">
                </select>
            </div>
            <div class="col-md-4 mb-2">
                <label for="extractMode" class="form-label col-xl-4">Extraction mode</label>
                <select class="form-select" name="extractMode" id="extractMode">
                    <option value="lattice">Lattice</option>
                    <option value="stream">Stream</option>
                </select>
            </div>
            <div class="col-md-auto mb-2 align-content-end text-end">
                <a class="btn btn-info text-white align-content-center" onclick="submitForm()">Extract</a>
            </div>
        </div>
        <div class="row mb-4">
                <div class="col-md-4">
                <h4>Preview</h4>
                    <div class="row justify-content-center" id="preview">
                    <div class="col-12 bg-secondary-subtle p-0 rounded-2 d-flex justify-content-center">
                            <iframe id="pdfPreview" src="" height="443" width="340" style="border:none;overflow:hidden"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="/js/po/extractText.js"></script>
}
