@using QouToPOWebApp.ViewModel

@model PoViewModel;

@{
    ViewData["Title"] = "Create from Quotation";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<form asp-action="Extract" method="post" id="quoForm">
    <div class="card p-3 border-0 shadow-sm mb-4">
        <div id="dropArea">
            <div id="dropZone" class="border rounded-3 bg-light-subtle p-5 text-center">
                <p class="fw-semibold text-secondary">Drag and drop a file here</p>
                <p class="my-3 text-secondary">- or -</p>
                <a href="#" class="btn btn-primary" type="button" id="selectFileBtn">Choose File</a>
            </div>
        </div>
        <div class="visually-hidden" id="extractSettings">
            <div class="row g-3">
                <div class="col-md">
                    <label class="form-label">Quotation file</label>
                    <input type="file" id="pdfFile" accept=".pdf" onchange="uploadPdf(this)" hidden>
                    <input name="filePath" id="filePath" type="text" value="" hidden />
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="No file chosen" id="selectFileInput" readonly>
                        <a href="#" class="btn btn-light border" type="button" id="selectFileBtn">Choose File</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-2">
                    <label for="pdfType" class="form-label col-xl-4">PDF type</label>
                    <select class="form-select col-xl-8" asp-for="Pdf_type_ID">
                        <option value="1">Native</option>
                        <option value="2" disabled>Scanned</option>
                    </select>
                </div>
                <div class="col-md-4 mb-2">
                    <label for="extractMode" class="form-label col-xl-4">Extraction mode</label>
                    <select class="form-select" asp-for="Extract_mode">
                        <option value="lattice">Lattice</option>
                        <option value="stream">Stream</option>
                    </select>
                </div>
                <div class="col-md-auto mb-2 align-content-end text-end">
                    <a class="btn btn-info text-white align-content-center" id="extractBtn" onclick="submitForm()">Extract</a>
                    <a id="loadingBtn" class="btn btn-info text-white visually-hidden disabled">
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span role="status">Extracting...</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="visually-hidden" id="divPreview">
        <div class="row mb-4">
            <div class="col-md-4">
                <h4>Preview</h4>
                <iframe id="pdfPreview" src="" height="495" style="width:100%;"></iframe>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="/js/po/extractText.js"></script>
}
